* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, h1 {
    text-align: center;
    background-color: #f2f2f2; /* Warna background untuk header */
    padding: 20px;
}

footer {
    text-align: center;
    background-color: #e6e6e6; /* Warna background untuk footer */
    padding: 20px;
}

.content {
    padding: 20px;
    border: 1px solid #ccc; /* Garis pemisah untuk konten */
}
